body {
    background: #242424;
    color: #EEE;
}

#row-container {
    width: 640px;
    resize: horizontal;
    overflow: auto;
}

.inline-form {
    display: grid;
    grid-template-columns: auto min-content 2fr;
}