body {
    background: #343434;
    color: #EAEAEA;
    font-size: 16px;
}

#row-container {
    width: 640px;
    resize: horizontal;
    overflow: auto;
}

.inline-form {
    display: grid;
    grid-template-columns: auto min-content 2fr;
}

a {
    color: #6699cc;
}